.navbar {
    margin-top: -1em;
    display: flex;
}

.navbar div:last-child {
    margin-left: auto;
}

.dk_logo {
    height: 4em;
    margin-left: -2em;
}


.navbar_link_collection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-position: inside;
}

.navbar_link {
    list-style-type: none; /* Remove bullets */
    margin-left: 0;
    padding-right: 1.5em;
}

.navbar_link_text {
    text-decoration: none;
    color: black;
    font-family: "Roboto Serif", "Times New Roman", Helvetica, Georgia
}

.navbar_link_text:hover {
    text-decoration: underline;
}

.social_media_logo_collection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    /* border-style: solid; */
}

.social_media_logo {
    height: 2em;
    padding: .5em;
    border-radius: 15px;
}

.social_media_logo:hover {
    background-color: #C1CACC;
    border-radius: 15px;
}
