@import url("base.css");

.navbar {
    display: flex;
    /* flex-direction: column; */
    flex-basis: 0 0 auto;
    align-items: center;
    /* justify-content: center; */
    background-color: gray;
    border-style: solid;

}

.dk_logo {
    height: 4em;
    /* border-style: solid; */
}

.social_media_logo_collection {
    display: flex;
}

.social_media_logo {
    height: 2em;
    padding: .5em;
}



.navbar_link_collection {
    display: flex;
    text-align: center;
    list-style-position: inside;

}

.navbar_link {
    list-style-type: none; /* Remove bullets */
    margin-left: 0;
    padding-right: 1.5em;
}
