.navbar {
    display: flex;
}

.navbar div:last-child {
    margin-left: auto;
}

.dk_logo {
    height: 4em;
    margin-left: -2em;
}


.navbar_link_collection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-position: inside;
}

.navbar_link {
    list-style-type: none; /* Remove bullets */
    margin-left: 0;
    padding-right: 1.5em;
}

.social_media_logo_collection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    /* border-style: solid; */
}

.social_media_logo {
    height: 2em;
    padding: .5em;
}
