<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="icon" type="image/x-icon" href="static/images/cosmo_favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <!-- Not using block title atm with the template -->
    <!-- <title>{% block title %}{% endblock %}</title> -->
    {% endblock %}
  </head>
  <body>
    {% include "navbar.html" %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>
