<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    {% endblock %}
  </head>
  <body>
      <div class="navbar">
            <ul class="navbar_link_collection">
                <a href="{{ url_for('index') }}"><img class="dk_logo" src="../static/images/general/dk_initial.png">
                <li class="navbar_link"><a href="{{ url_for('about') }}">About</a></li>
                <li class="navbar_link"><a href="{{ url_for('stuff') }}">Stuff</a></li>
            </ul>
            <div class="social_media_logo_collection">
                <a href="https://github.com/DouglasKrouth"><img class="social_media_logo" src="../static/images/navbar/github_logo.png"></a>
                <a href="https://www.linkedin.com/in/douglaskrouth/"><img class="social_media_logo" src="../static/images/navbar/linkedin_logo.png"></a>
                <a href="mailto: douglaskrouth@gmail.com"><img class="social_media_logo" src="../static/images/navbar/email_logo.png"></a>
        </div>
      </div>
  </body>
</html>
